

body {
	background-color: #FA8BFF;
	background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
	margin: 50px;
	padding: 20px;
}

#title {
	font-family: 'Special Elite', cursive;
	font-size: 60px;
	text-align: center;
	text-shadow: 2px 2px 10px #FA8BFF, 2px 2px 12px #2BFF88;
}

img {
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}

#img-div {
	max-width: 27%;
	display: block;
	max-height: auto;
	padding-bottom: 20px;
}

	#img-div {
  margin: auto;
  width: 100%;
  border: 5px solid white;
  background: white;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		border-radius: 2px;
}

#img-caption {
  margin: 15px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		background-color: #FFDCED;
		font-weight: 500;
}

#tribute-info {
	float: center;
}

.container {
	width: 80%;
	background-color: #FFDCED;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 70px;
	padding: 10px;
	border: 0.5px solid white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
	display: grid;
	grid-template-columns: auto 100px;
	grid-template-rows: auto auto auto;
	grid-gap: 10px;
	grid-template-areas:
		"content info"
		"content content"
		"content content"
}

.item1 {
	grid-area: content;
}

.item2 {
	grid-area: info;
	background: #FFF9F3;
	margin-top: 25px;
	max-width: 250px;
	height: 100%;
	display: grid;
	border: 5px solid white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
	grid-template-columns: 1fr auto;
	grid-template-rows: repeat(7, auto);
	grid-gap: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.itemOne {
}

.itemOneInfo {
}

.itemTwo {
}

.itemTwoInfo {
}

.itemThree {
	
}

.itemThreeInfo {
	
}

.itemFour {
	
}

.itemFourInfo {
	
}

.itemFive {
	
}

.itemFiveInfo {
	
}

.itemSix {
	
}

.itemSixInfo {
	
}

.itemSeven {
	
}

.itemSevenInfo {
	
}

#about {
	width: auto;
}
		#about h2 {
			font-family: 'Nunito Sans', sans-serif;
			font-size: 36px;
			font-weight: 800;
			color: #041519;
			padding: 10px;
			letter-spacing: 0.15em;
			line-height: 3.5em;
}